<app-navbar></app-navbar>
<div class="flex justify-center">
  <table class="shadow-lg bg-white border-separate mx-10 my-2">
    <thead>
      <tr>
        <th class="bg-blue-100 border text-left px-8 py-2">ID</th>
        <th class="bg-blue-100 border text-left px-8 py-2">Name</th>
        <th class="bg-blue-100 border text-left px-8 py-2">Feedback</th>
        <th class="bg-blue-100 border text-left px-8 py-2">Date </th>
        <th class="bg-blue-100 border text-left px-8 py-2">Time</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of data">
        <td class="border px-8 py-2">{{ item.id }}</td>
        <td class="border px-8 py-2">{{ item.userName }}</td>
        <td class="border px-8 py-2">{{ item.userFeedback }}</td>
        <td class="border px-8 py-2">{{item.date_Time.slice(0,10)}}</td>
        <td class="border px-8 py-2">{{item.date_Time.slice(11,19)}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-around mx-12 mt-2">
  <button (click)="onPrevious()" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Previous</button>
  <button (click)="onNext()" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Next</button>
</div>